{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

<main class="content" role="main">

    <article class="{{post_class}}">

        {{! Each post has the blog logo at the top, with a link back to the home page }}
        <header class="post-header">
            <a class="blog-logo" href="{{@blog.url}}">
                {{#if @blog.logo}}
                    <img src="{{@blog.logo}}" alt="Blog Logo" />
                {{else}}
                    <span class="blog-title">{{@blog.title}}</span>
                {{/if}}
            </a>
        </header>

        {{! Everything inside the #post tags pulls data from the post }}
        {{#post}}

            <span class="post-meta"><time datetime="{{date format="YYYY-MM-DD"}}">{{date format='DD MMM YYYY'}}</time> {{tags prefix="on " separator=" | "}}</span>

            <h1 class="post-title">{{{title}}}</h1>

            <a href="http://click.linksynergy.com/fs-bin/click?id=kaswKf96rRM&offerid=402138.10001228&subid=0&type=4"><IMG border="0"   alt="Microsoft" src="http://ad.linksynergy.com/fs-bin/show?id=kaswKf96rRM&bids=402138.10001228&subid=0&type=4&gridnum=16"></a>           <!--<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>-->
            <!--&lt;!&ndash; nhblog2014-leaderboard &ndash;&gt;-->
            <!--<ins class="adsbygoogle"-->
                 <!--style="display:inline-block;width:728px;height:90px"-->
                 <!--data-ad-client="ca-pub-0038909073879850"-->
                 <!--data-ad-slot="8319446186"></ins>-->
            <!--<script>-->
            <!--(adsbygoogle = window.adsbygoogle || []).push({});-->
            <!--</script>-->

            <!--<a href="https://itunes.apple.com/us/app/vndr-vending-machine-locator/id895302931?mt=8&uo=4"><img src="http://res.cloudinary.com/notebook/image/upload/v1408424134/vndr-link-ad.png" alt="vndr app store image ad"/></a>-->

            <section class="post-content">
                {{content}}
            </section>

            <footer class="post-footer">

                <section class="author">
                    <h4>{{author.name}}</h4>
                    <p>{{author.bio}}</p>
                    <ul class="author-meta clearfix">
                        {{#if author.location}}<li>{{author.location}}</li>{{/if}}
                        {{#if author.website}}<li><a href="{{author.website}}">{{author.website}}</a></li>{{/if}}
                    </ul>
                </section>

                <section class="share">
                    <h4>Share this post</h4>
                    <a class="icon-twitter" href="https://twitter.com/share?text={{encode title}}&amp;url={{url absolute="true"}}"
                        onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
                        <span class="hidden">Twitter</span>
                    </a>
                    <a class="icon-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"
                        onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
                        <span class="hidden">Facebook</span>
                    </a>
                    <a class="icon-google-plus" href="https://plus.google.com/share?url={{url absolute="true"}}"
                       onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
                        <span class="hidden">Google+</span>
                    </a>
                </section>

            </footer>

        {{/post}}

    </article>

</main>
